*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    margin: 0;
    padding: 0;
    --primary-color: #008CBA;
    --secondary-color: #04AA6D;
    --danger-color: #f44336;
    --income-color : rgb(193, 236, 244);
    --expense-color : rgb(241, 217, 194);
}


body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    display: grid;
    grid-template-rows: 50px 50px 1fr;
    gap: 10px;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    color: white;
}
.blur {
    filter: blur(6px);
}
/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    padding: 10px;
    border-bottom: 2px solid var(--primary-color);
}
.navbar-date {
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-date a:hover {
    color: var(--primary-color);
}

.linkPage {
    text-decoration: none;
    color: white;
}

.active {
    color: var(--primary-color);
}

.login {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0;
}
.login button {
    display: flex;
    padding: 5px 8px;
    margin: 0 ;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}

.login .hidden {
    display: none;
    background-color: var(--danger-color);
}

.login button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(22, 22, 22, 0.5);
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    padding: 10px;
}
.header h2 {
    font-size: 40px;
    font-weight: 700;
}
.positive {
    color: var(--secondary-color);
}
.negative {
    color: var(--danger-color);
}

/* SEARCH */
.searchbar input[type=text] {
    padding: 8px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.searchbar button {
    float: left;
    width: 20%;
    padding: 8px;
    background: var(--primary-color);
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.searchbar button:hover {
    background: #0b7dda;
}

.transactions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

@media (max-width: 768px) {
    .transactions-container{
       grid-template-columns: 1fr;
    }
    .transactionList , .Transaction-form {
       width: 100%;
       margin: 10px 0;
    }

}

/* TRANSACTION FORM */
.Transaction-form {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: #eceffc;
    height: fit-content;
}
.Transaction-form h2 {
    color: #000;
}

#transactionForm {
    display: grid;
    gap: 20px;
    padding: 20px; 
    width: 400px;
    justify-items: center;
}
#transactionForm input , #transactionForm select {
    padding: 10px;
    font-weight: 700;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgb(209, 208, 208);
}
#transactionForm button {
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
    max-width: 50%;
}

#transactionForm button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
/* TRANSACTION LIST */
.transactionList {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: #eceffc;
    color: #000;
}
.transactionList .transaction-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
}
.income {
    background-color: var(--income-color);
}

.expense {
    background-color: var(--expense-color);
}

.budget-title {
    display: flex;
    justify-content: center;
    
}
.budget-title h2 {
    margin: 0;
    padding: 0;
}
.budget-detail {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}

.budget-detail p, .budget-detail h3 {
    margin: 0;
    padding: 5px;
}
.budget-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.budget-date h5 {
    margin: 0;
    padding: 5px;
}
.budget-date button {
    width: 100%;
    color: white;
    max-width: fit-content;
    padding: 8px;
    background: var(--danger-color);
    font-size: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.budget-date button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(100, 15, 2, 0.5);
}

/* CHART */
.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.chart-container button {
    padding: 10px 30px;
    font-family: 700;
    font-size: 16px;
    margin: 0;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.chart-container button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
#chartOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
#chartOverlay.hidden {
    display: none;
}
.chart-model {
    width: min(900px, 95vw);
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
}
.chart-model button {
    padding: 10px 20px;
    font-family: 700;
    font-size: 16px;
    margin: 0;
    border-radius: 10px;
    border: none;
    background-color: var(--danger-color);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}
.chart-model button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(71, 5, 1, 0.5);
        
}



