*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    margin: 0;
    padding: 0;
    --primary-color: #008CBA;
    --secondary-color: #04AA6D;
    --danger-color: #f44336;
    --income-color : rgb(42, 139, 161);
    --expense-color : rgb(196, 117, 38);
}


body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    display: grid;
    grid-template-rows: 50px 50px 1fr;
    gap: 10px;
    min-height: 100vh;
    background: #eceffc;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    padding: 10px;
    border-bottom: 2px solid gray;
}
.navbar-date {
    display: flex;
    gap: 10px;
    align-items: center;
}
.active {
    color: var(--primary-color);
}

.login {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0;
}
.login button {
    display: flex;
    padding: 5px 8px;
    margin: 0 ;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}
.login button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    padding: 10px;
}
.searchbar input[type=text] {
    padding: 8px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.searchbar button {
    float: left;
    width: 20%;
    padding: 8px;
    background: var(--primary-color);
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.searchbar button:hover {
    background: #0b7dda;
}

.tarnsaction-container {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 10px;
}

.Transaction-form {
    border: 1px solid #ccc;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: #eceffc;
}

#transactionForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}

